body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  header .logo {
    border-radius: 10px;
    height: 80px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    }

  header nav ul li {
    margin: 0 10px;
    transition: all ease .3s;
    &:hover {
      transform: scale(1.3);
    }
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  #theme-toggle {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all ease .3s;
    &:hover {
      transform: translateY(-10%);
      box-shadow: #000 0 5px 5px;
    }
    &:active {
      transform: translateY(10%);
    }
  }

  main {
    text-align: center;
    padding: 20px;
  }
  
  main ul {
    list-style: none;
  }

  main ul li {
    margin:10px;
    transition: all ease .3s;
    &:hover {
      transform: scale(1.3);
    }
  }

  main ul li a {
    text-decoration: none;
    color: rgb(202, 85, 192);
  }

  #contact a {
    text-decoration: none;
    color: rgb(202, 85, 192);
    transition: all ease .3s;
    &:hover {
      transform: scale(1.3);
    }
  }

  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  footer img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode header {
    background-color: #222;
  }
  
  .dark-mode footer {
    background-color: #222;
  }
  